.footer--total {
    border-top: 4px solid #4dd4ec;
    background-color: #000000fd;
    color: #fffafaa9; 
    display: inline-flex ;
    
}
  
.footer__columnas {
    width: 25%;
    display: inline-flex;
    padding: 2%;
    margin: 2%; 
}
 
.footer__contactos {
    width: 100%;
    display: inline-flex;
    padding: 2%;
    margin: 15%; 
}
.footer__columnas ul li {
    list-style: none; 
}
.footer__columnas ul li a {
    text-decoration: none;
    color: #181818; 
}
.footer__columnas ul li a:hover {
    font-weight: bold; 
}
  
.red {
    display: inline; 
}
.red .footer-imagen {
    width: 50px;
    height: auto; 
}
  
.final {
    width: 100%; }
  
.footer__redes {
    display: inline; }
  
.derechos {
    background-color: black;
    text-align: center; }
