.mi-nav{
    background: rgb(241,14,14);
background: linear-gradient(90deg, rgba(241,14,14,0.7063200280112045) 0%, rgba(9,7,7,0.908000700280112) 100%);

}
.baner{
    width: 100%;

}
.h1{
    text-align: center;
    background-color: rgba(246, 0, 41, 0.616);
}