.mi-nav{
    background: rgb(119,130,228);
    background: linear-gradient(90deg, rgba(119,130,228,0.8519782913165266) 0%, rgba(159,224,190,0.6166841736694677) 45%, rgba(56,0,0,1) 100%);
}
.baner{
    width: 100%;

}
